<a href="https://colab.research.google.com/github/Sterwinxs/Data-Science-Alura/blob/main/Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sempre começamos importando as Bibliotecas que iremos utilizar:
Pandas se trata de uma biblioteca para construção de estrutura, manipulação e limpeza de dados, sendo também utilizada para processamento numérico e construção de gráficos.

In [5]:
import pandas as pd

 Leitura de Arquivo CSV, atribuindo o próprio para uma Variável.

In [7]:
base = pd.read_csv("ratings.csv")

Mostrando apenas as 5 primeiras linhas do Arquivo.

In [8]:
base.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Utilizamos o nome da base.shape para verificar o tamanho de linhas e colinas.

In [9]:
base.shape

(100836, 4)

Mudar nomes de Colunas (Neste caso mudamos todas para português).

In [11]:
base.columns= ["usuarioId", "filmeId", "nota", "momento"]
base.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

Visualizar apenas uma coluna.

In [12]:
base['nota']

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

Verificar quais os valores nesta coluna.

In [13]:
base['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

Lembrando que o objetivo da array é ser um espaço fixo na memória do computador que armazena elementos.

Também podemos contar quantas vezes esses valores apareceram com value-counts()

In [14]:
base['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

Por fim, podemos contar quanto foi a média de notas!

In [16]:
base['nota'].mean()

3.501556983616962